<?xml version="1.0"?>
<configuration>

  <appSettings>
    
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <add key="DataFormat" value="JSON"/>
    
    <add key="ConnectionString" value="Server=10.4.160.233\sql2012; USER ID=eshopaid; PASSWORD=eshopaid; initial catalog=YLGSalon;"/>
    <add key="CreateItem" value="ssp_CreateItems"/>
    <add key="UpdateItem" value="ssp_UpdateItems"/>
    <add key="DeleteItem" value="ssp_DeleteItems"/>
    <add key="ViewItem" value="ssp_ViewItems"/>
    
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>

    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
    <services>

      <service name="ShopBridgeService.ShopBridgeService" behaviorConfiguration="ServiceBehaviour">
        <endpoint  address="" binding="customBinding"  contract="ShopBridgeService.IShopBridgeService" behaviorConfiguration="web" bindingConfiguration="RawReceiveCapable" ></endpoint>
      </service>
    </services>

    <bindings>
      <customBinding>
        <binding name="RawReceiveCapable" maxBufferPoolSize="714748364755599"
      maxReceivedMessageSize="714748364755599"
      maxBufferSize="714748364755599" transferMode="Streamed" openTimeout="00:20:00"
                 closeTimeout="00:20:00"
                 sendTimeout="00:20:00"
                 receiveTimeout="00:20:00">
          <webMessageEncoding webContentTypeMapperType="ShopBridgeService.RawContentTypeMapper,ShopBridgeService,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <httpTransport keepAliveEnabled="True" manualAddressing="true" maxReceivedMessageSize="524288000" transferMode="Streamed" />
        </binding>
      </customBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>

    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
